<%= simple_form_for(@rec) do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :title %>
    </div>
    <div class="col">
      <%= f.input :creator %>
    </div>
  </div>
  <%= f.input :link %>
  <%= f.input :synopsis, :input_html => {:rows => 5} %>
  <%= f.input :why, :input_html => {:rows => 5} %>
  <div class="row">
    <div class="col">
      <%= f.input :imdb_rating, label: "IMDB Rating" %>
    </div>
    <div class="col">
      <%= f.input :rt_rating, label: "RT Rating" %>
    </div>
    <div class="col">
      <%= f.input :duration, label: "Duration (s)" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.input :release_date, as: :date, html5: true %>
    </div>
    <div class="col">
      <%= f.input :photo, label: "Poster", as: :file %>
    </div>
    <div class="col">
      <%= f.input :category, collection: @rec.rec_types %>
    </div>
  </div>
  <%= f.input :tag_list, label: "Genre List", hint: "Add your tags, separated by commas" %>
  <%= f.submit 'Submit' %>
<% end %>