<div class="container">
  <div class="form-box">
    <%= simple_form_for(@rec) do |f| %>
      <%= f.input :title %>
      <%= f.input :synopsis, :input_html => {:rows => 5} %>
      <%= f.input :why, :input_html => {:rows => 5} %>
      <%= f.input :creator %>
      <div class="row">
        <div class="col">
          <%= f.input :imdb_rating %>
        </div>
        <div class="col">
          <%= f.input :rt_rating %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.input :release_date, as: :date, html5: true %>
        </div>
        <div class="col">
          <%= f.input :photo, label: "Poster", as: :file %>
        </div>
      </div>
      <%= f.submit 'Submit' %>
    <% end %>
  </div>
</div>
