<div class="navbar navbar-expand-sm navbar-light navbar-lewagon ml-4 mr-4 pl-4 pr-4">
  
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, class: "navbar-brand" do %>
      <%= image_tag "logo-white.png" %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "navbar-brand" do %>
      <%= image_tag "logo-white.png" %>
    <% end %>
  <% end %>
  
  <li class="nav-item active">
    <%= link_to "PROJECTS", "#projects", class: "nav-link" %>
  </li>
  <li class="nav-item active">
    <%= link_to "FAQ", "#faq", class: "nav-link" %>
  </li>
  <li class="nav-item active">
    <%= link_to "CONTACT", "#contact", class: "nav-link" %>
  </li>
  <li class="nav-item active">
    <%= link_to "RECS", "#", class: "nav-link" %>
  </li>
  
</div>
