<br>
<div class="form-box">
  <%= simple_form_for @form, html: { autocomplete: 'off' } do |f| %>
    <div class="row">
      <div class="col">
        <%= f.input :first_name %>
      </div>
      <div class="col">
        <%= f.input :last_name %>
      </div>
    </div>
    <%= f.input :email %>
    <%= f.input :message, as: :text, :input_html => {:rows => 5} %>
    <%= f.submit 'Submit' %>
  <% end %>
</div>