<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <%= image_tag "profile.png", class: "profile-image" %>
    <div class="ml-4">
      <div class="d-flex mb-2">
        <h1>Hi, I'm Anne.</h1>
      </div>
      <div class="d-flex">
        <p>I learned to code after I fell in love with text-based games like Zork, A Dark Room, and Candy Box. With just a few languages under my belt, I'm technically still a baby to the big bad world of web development, but I'm slowly learning my way through PHP and Lua (when I'm not getting distracted writing movie reviews or scripts to choice-based games).</p>
      </div>
      <div class="d-flex">
        <p>Most of the websites I've built are apps on Ruby on Rails & React, or static HTML/CSS landing pages for SMEs who are branching into the digital market and need to establish a lasting web presence. You can see some of my work below, or if you prefer something more fun - you can check out my recommendations for an endless and perpetually-growing list of ways to waste time.</p>
      </div>
      <div class="d-flex mt-2 justify-content-around">
        <i class="fab fa-github"></i>
        <%= image_tag "letterboxd-mac-icon (5).png", class: "icon-letterboxd" %>
        <i class="fab fa-instagram mr-4"></i>
        <div class="transparent ml-4">
          <i class="fab fa-youtube ml-4"></i>
          <i class="fab fa-twitter ml-4"></i>
          <i class="fab fa-linkedin ml-4"></i>
          <i class="fab fa-twitch ml-4"></i>
          <i class="fab fa-facebook ml-4"></i>
          <i class="fab fa-reddit ml-4"></i>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="d-flex mt-4">
    <h1>My Projects:</h1>
  </div>
</div>

<div class="container-fluid project-grid text-center">
  <%= link_to "https://www.fin-man.xyz", class: "p-3", target: :_blank do %>
    <div class="project-hover">
      <%= image_tag "finman.png", class: "project-card" %>
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
  <% end %>
  <%= link_to "https://airbnb-caravan.herokuapp.com/", class: "p-3", target: :_blank do %>
    <div class="project-hover">
      <%= image_tag "caravan.png", class: "project-card" %>
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
  <% end %>
  <%= link_to "https://directtoanne.github.io/thesgboys/", class: "p-3", target: :_blank do %>
    <div class="project-hover">
      <%= image_tag "sgboys.png", class: "project-card" %>
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
  <% end %>
  <%= link_to "https://directtoanne.github.io/profile/", class: "p-3", target: :_blank do %>
    <div class="project-hover">
      <%= image_tag "anne.png", class: "project-card" %>
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
  <% end %>
</div>

<br>
<div class="container mt-3">
  <div class="d-flex">
    <h1>Feedback from my Happy Clients:</h1>
  </div>
  <div class="d-flex mt-4 justify-content-around">
    <div class="text-right">
      <%= image_tag "New Project (7).png", class: "speech-card" %>
      <h2>- Katie Kwang</h2>
    </div>
    <div class="text-right">
      <%= image_tag "New Project (6).png", class: "speech-card" %>
      <h2>- Omar Michael</h2>
      <h5>(missing for the past 36 hours)</h5>
    </div>
    <div class="text-right">
      <%= image_tag "New Project (5).png", class: "speech-card" %>
      <h2>- her mother</h2>
    </div>
  </div>
</div>
