<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <%= image_tag "profile.png", class: "profile-image" %>
    <div class="ml-4">
      <div class="d-flex mb-2">
        <h1>Hi, I'm Anne.</h1>
      </div>
      <div class="d-flex">
        <p>I learned to code after I fell in love with text-based games like Zork, A Dark Room, and Candy Box. With just a few languages under my belt, I'm technically still a baby to the big bad world of web development, but I'm slowly learning my way through PHP, Swift and Lua (when I'm not getting distracted writing movie reviews or scripts to choice-based games).</p>
      </div>
      <div class="d-flex">
        <p>Most of the websites I've built are apps on Ruby on Rails & React, or static HTML/CSS landing pages for companies branching into the digital market who need to establish a lasting web presence. You can see some of my work below, or if you prefer something more fun - you can check out my recommendations for an endless and perpetually-growing list of ways to waste time.</p>
      </div>
      <div class="d-flex mt-2 justify-content-around anne-links">
        <%= link_to "https://github.com/directtoanne", class: "", target: :_blank do %>
          <i class="fab fa-github"></i>
        <% end %>
        <%= link_to "https://letterboxd.com/directtoanne/", class: "", target: :_blank do %>
          <div class="image-overlay">
            <%= image_tag "letterboxd-mac-icon (1) (2).png", class: "icon-letterboxd" %>
            <%= image_tag "letterboxd-mac-icon (1) (3).png", class: "icon-letterboxd overlayed-image" %>
          </div>
        <% end %>
        <%= link_to "https://www.instagram.com/directtoanne/", class: "", target: :_blank do %>
          <i class="fab fa-instagram mr-4"></i>
        <% end %>
        <div class="transparent ml-4">
          <i class="fab fa-youtube ml-4"></i>
          <i class="fab fa-twitter ml-4"></i>
          <i class="fab fa-linkedin ml-4"></i>
          <i class="fab fa-twitch ml-4"></i>
          <i class="fab fa-facebook ml-4"></i>
          <i class="fab fa-reddit ml-4"></i>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="d-flex mt-4">
    <h1 id="projects">My Projects:</h1>
  </div>
</div>

<div class="container-fluid project-grid text-center">
  <%= link_to "https://www.fin-man.xyz", class: "p-3", target: :_blank do %>
    <div class="project-hover">
      <%= image_tag "finman.png", class: "project-card" %>
      <div class="overlay">
        <div class="text">Fin-Man is a financial management (see the pun?) app, made entirely on Ruby on Rails. The biggest challenge was learning to find and integrate the correct gems for our app, some of which relied on dependencies that were out of date and no longer maintained.<br>In the end, we didn't manage to code all the features we wanted, but it was still a great and rewarding experience considering we only had a couple weeks to finish it.</div>
      </div>
    </div>
  <% end %>
  <%= link_to "https://airbnb-caravan.herokuapp.com/", class: "p-3", target: :_blank do %>
    <div class="project-hover">
      <%= image_tag "caravan.png", class: "project-card" %>
      <div class="overlay">
        <div class="text">Caravan is just another Airbnb clone, except instead of flats the idea was to rent - you guessed it! - cars. As my first team Rails project, it was a steep learning curve to discover how to delegate tasks and collaborate on features we all had conflicting ideas about. Being responsible for individual features was an experience I hadn't had as a sole developer, and definitely taught me the importance of writing clear and clean code.</div>
      </div>
    </div>
  <% end %>
  <%= link_to "https://directtoanne.github.io/thesgboys/", class: "p-3", target: :_blank do %>
    <div class="project-hover">
      <%= image_tag "sgboys.png", class: "project-card" %>
      <div class="overlay">
        <div class="text">The SG Boys were an LGBT podcast based in the little red conservative dot where homosexuality is still (politically) illegal. This was a static website written entirely in HTML and CSS. My challenge was to do this entirely without using Bootstrap or other frameworks for the layouts / utilities / grids. Though I managed to make it look (reasonable) on desktops, I never made the website responsive for smaller screens.</div>
      </div>
    </div>
  <% end %>
  <%= link_to "https://directtoanne.github.io/profile/", class: "p-3", target: :_blank do %>
    <div class="project-hover">
      <%= image_tag "anne.png", class: "project-card" %>
      <div class="overlay">
        <div class="text">My first static website ever was a simple card layout for my own profile. </div>
      </div>
    </div>
  <% end %>
</div>

<br>
<div class="container mt-3">
  <div class="d-flex">
    <h1>Feedback from Happy Clients:</h1>
  </div>
  <div class="d-flex mt-4 justify-content-around">
    <div class="text-right">
      <%= image_tag "kwang.png", class: "speech-card" %>
      <h2>- Katie Kwang</h2>
    </div>
    <div class="text-right">
      <%= image_tag "omar.png", class: "speech-card" %>
      <h2>- Omar Michael</h2>
      <h5>(missing for the past 36 hours)</h5>
    </div>
    <div class="text-right">
      <%= image_tag "mom.png", class: "speech-card" %>
      <h2>- her mother</h2>
    </div>
  </div>
</div>

<br>
<div class="container mt-3">
  <div class="d-flex">
    <h1 id="faq">Frequently Asked Questions:</h1>
  </div>

  <div class="text-left mt-4">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Why Should We Work With You?
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <p>You probably shouldn't. I'm only half-kidding. The truth is that most businesses can get by with a simple Wordpress or Squarespace website, which are easy enough to use that even the tech-illiterate can make a legible-enough landing page. There are drag and drop website builders like Wix littered across the Internet, that sell you on the fact that you too! Can make your own website.</p>
            <br><div class="d-flex"><p>And there's nothing wrong with that at all.</p></div>
            <br><p>What I absolutely detest, though, is seeing "Wordpress developers" or "Elementor designers" who don't actually know how to code, taking advantage of potential clients who don't know much about what goes into the backend of code, and charging them <em>thousands</em>, even <em>tens of thousands</em> for a website they didn't actually <b>write</b>, they just made use of a drag and drop library to arrange elements in a good-looking-enough package.</p>
            <br>
            <p>The problem is most people running SMEs are so busy/non-tech-savvy that they don't realize they're being overcharged, or worse: they know that they are, but would rather shell out thousands out of convenience. And then those "devs" add on maintenance charges, marketing/advertisement charges, and domain/ssl registration charges that are ten times more expensive than what they should actually cost.</p>
            <br>
            <p>Long story short, if you were planning on hiring some dodgy freelance "dev" who spits words like "Beautiful", "Fast" and "Responsive" like they're watering crops during a drought, namedrops site-builders like Oxygen and Elementor (and not the programming <em>languages</em> employed themselves), then you're better off with me.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              How Long Will It Take?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <p>I don't subscribe to the advertising strategies of other web devs who like to flaunt "a site within a week" promises or provide a 24-hour-static-site-guarantee. The truth is: it really depends. A social media website like Facebook would take longer to code than a blog. An online marketplace like Etsy would take longer to set up, maintain and market than a simple landing page with a booking form for a restaurant.</p><br>
            <p>As a benchmark, this website itself took me around a day to code and host (minus the recommendations tab), but that's because I already knew <em>what</em> I wanted it to look like, and I am also completely complicit with full control over my own brand image. A lot of the length of a project isn't actually spent coding, it's spent brainstorming and deciding the final features/look of the product itself. In other words, if you know <em>exactly</em> what the site should look like from the get go, the process is going to go much faster. Sketches/examples of other websites would also greatly speed up the process.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              How Much Will It Cost?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <p>Ah, the big question. Once again, it really depends. For a start, domains/hosting/certificates can vary wildly in price. A domain that ends in '.xyz' or '.net' might cost $2 for a two-year license while its equivalent that ends in '.com' or '.co.uk' may cost up to thousands; similarly, a specific domain like 'anaboutiquelondon.com' would be much cheaper than 'anaboutique.com'.</p><br>
            <p>Additionally, SSL certification for your website (meaning your site is secure - 'https://' rather than 'http://' - and your browser has the little lock symbol in the top left) has different tiers - a basic SSL certificate is under $10, but if you plan on authorizing online payments or hosting secure chatrooms, the higher tiers are preferred - if not, necessary.</p><br>
            <p>There are many more facets similar to this; I won't bore you with the specifics of Google Adwords and search engine optimization, but I will say that the cost for a simple static website should only be a couple hundred at most. Unless you're planning on absolutely buying up the best keywords on search engines and enabling crazy features like full-AI-chatbots (though I couldn't imagine what for, if it's just a normal landing site), a simple website should only go up to a thousand six hundred<b>at the most</b>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container mt-2">
  <div class="d-flex">
    <h1 id="contact">Contact Me:</h1>
  </div>
  <div class="d-flex mt-4">
    <h5>Want to work with me? Are you sure?! Fill in the form below and I'll be in touch!</h5>
  </div>
  <div id="contact">
    <%= render 'contact_form' %>
  </div>
</div>